<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<dif th:include="/system/index/top::tophead"></dif>
</head>
<body class="no-skin">
	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="page-header">
							<h1>
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									详情
								</small>
							</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<form name="Form" id="Form"
								method="post">
								<div id="zhongxin" style="padding-top: 13px;">
									<table id="table_report"
										class="table table-striped table-bordered table-hover">
																				<tr>
											<td style="text-align: right; padding-top: 13px;">平台id:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.platform_id}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">活动标题:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.title}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">类型:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.isFirst}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">最佳方案名称:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.bestName}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">最佳方案投资额:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.bestDeposit}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">最佳方案返利额:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.bestMoney}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">最佳方案年化%:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.bestInterest}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交单人数:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.joins}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">活动状态码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.status}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">活动状态名称:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.statusDisplay}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">是否需要上传截图:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.requiredImage}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">是否需要投资人用户名:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.requiredUsername}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">PC活动链接:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.url}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">手机活动链接:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.mobileUrl}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">HTML活动参与详细描述:</td>
											<td style="padding-top: 13px;">
												<span th:text="${activity == null ? '' : activity.content}"></span>
											</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /.main-container -->

	<footer>
		<div style="width: 100%; padding-bottom: 2px;" class="center">
			<a class="btn btn-mini btn-danger" onclick="cancel();">返回</a>
		</div>
	</footer>

	<!-- 页面底部js¨ -->
	<div th:include="/system/index/foot::footdiv" />
	<!--提示框-->
	<script type="text/javascript" th:src="@{/js/jquery.tips.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(top.hangge());
		function cancel(){
			/*<![CDATA[*/
			top.jzts();
			if(true && document.forms[0]){
				var url = /*[[${url}]]*/;
				document.forms[0].action = url;
				document.forms[0].submit();
			}
			/*]]>*/		
		}
	</script>
</body>
</html>