<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="/system/index/top::tophead">
<!-- jsp文件头和头部 -->
</head>
<body class="no-skin">
	<!-- 百度echarts -->
<script th:src="@{/plugins/echarts/echarts.min.js}"></script>
	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="hr hr-18 dotted hr-double"></div>
					<div class="row">
						<div class="col-xs-12">

							<div class="alert alert-block alert-success">
								<button type="button" class="close" data-dismiss="alert">
									<i class="ace-icon fa fa-times"></i>
								</button>
								<i class="ace-icon fa fa-check green"></i>
								欢迎使用<span th:inline="text">[[${SYSNAME}]]</span>
							</div>

							<div id="main" style="width: 100%; height: 300px;"></div>
							<script type="text/javascript">
								// 基于准备好的dom，初始化echarts实例
						        var myChart = echarts.init(document.getElementById('main'));
						        // 指定图表的配置项和数据
						        var option = {
						            title: {
						                text: '马上多统计报表'
						            },
						            tooltip: {
						                trigger: 'axis',
						                axisPointer: {
						                    type: 'cross',
						                    crossStyle: {
						                        color: '#999'
						                    }
						                }
						            },
						            toolbox: {
						                feature: {
						                    dataView: {show: true, readOnly: false},
						                    magicType: {show: true, type: ['line', 'bar']},
						                    restore: {show: true},
						                    saveAsImage: {show: true}
						                }
						            },
						            legend: {
						                data:['蒸发量','降水量','平均温度']
						            },
						            xAxis: [
						                {
						                    type: 'category',
						                    data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
						                    axisPointer: {
						                        type: 'shadow'
						                    }
						                }
						            ],
						            yAxis: [
						                {
						                    type: 'value',
						                    name: '水量',
						                    min: 0,
						                    max: 250,
						                    interval: 50,
						                    axisLabel: {
						                        formatter: '{value} ml'
						                    }
						                },
						                {
						                    type: 'value',
						                    name: '温度',
						                    min: 0,
						                    max: 25,
						                    interval: 5,
						                    axisLabel: {
						                        formatter: '{value} °C'
						                    }
						                }
						            ],
						            series: [
						                {
						                    name:'蒸发量',
						                    type:'bar',
						                    data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
						                },
						                {
						                    name:'降水量',
						                    type:'bar',
						                    data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
						                },
						                {
						                    name:'平均温度',
						                    type:'line',
						                    yAxisIndex: 1,
						                    data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
						                }
						            ]
						        };
	
						        // 使用刚指定的配置项和数据显示图表。
						        myChart.setOption(option);
						    </script>

						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->


		<!-- 返回顶部 -->
		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>

	</div>
	<!-- /.main-container -->

	<!-- 页面底部js¨ -->
	<div th:include="/system/index/foot::footdiv" />
		
	<!-- ace scripts -->
	<script th:src="@{/ace/js/ace/ace.js}"></script>
	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		$(top.hangge());
	</script>
	<script type="text/javascript" th:src="@{/ace/js/jquery.js}"></script>
</body>
</html>